<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Contáctenos</title>
<style>
body {
	font-family: Arial, sans-serif;
	background-color: #f7f7f7;
	margin: 0;
	padding: 20px;
}

h1 {
	color: #333;
	text-align: center;
	margin-bottom: 20px;
}

p {
	color: #555;
	text-align: justify;
	margin-bottom: 20px;
}

.contact-info a:hover {
	text-decoration: underline;
}

a {
	display: inline-block;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.3s;
}

a:hover {
	text-decoration: underline;
}
</style>
</head>
<body>
	<h1>Contacto - Reyes Cuisine</h1>
	<p>¡Gracias por visitar Reyes Cuisine! Si tienes alguna pregunta,
		sugerencia o simplemente quieres ponerte en contacto con nosotros,
		estaremos encantados de escucharte. Puedes encontrarnos en los
		siguientes canales de contacto:</p>
	<div>

		<p>
			Teléfono: <a href="tel:+123456789">+34 600 123 123</a>
		</p>
	</div>
	<div>

		<p>
			Correo electrónico: <a href="mailto:contacto@reyescuisine.com">contacto@reyescuisine.com</a>
		</p>
	</div>
	<div>

		<p>
			Síguenos en las redes sociales: <a
				href="https://www.facebook.com/reyescuisine" target="_blank">Facebook</a>,
			<a href="https://www.instagram.com/reyescuisine" target="_blank">Instagram</a>,
			<a href="https://www.twitter.com/reyescuisine" target="_blank">Twitter</a>
		</p>
	</div>
	<a href="/">Volver al inicio</a>
</body>

</html>
